@import "../../variables.scss";

.socialLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    color: $primary-color;
    
    svg {
        width: 30px;
        height: 30px;
    }
}