.numericContainer {
  display: flex;
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
}

.number {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;  
}

.nextButton,
.prevButton {
  width: 25px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
