@import "../../variables.scss";

.home {

}

.price {
  font-weight: bold;
  color: $primary-color;
}

.checkoutBlock{
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 10px;
  flex-wrap: nowrap;
}