@import "../../variables.scss";


footer {
    height: 150px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
    background-color: $primary-color;
    z-index: 10;
    padding: 20px;

}

.footer section {
    color: $background-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;

    &:first-child {
        border-bottom: 1px solid $background-color;
        border-width: 1px 0;

    }

    svg {
        width: 18px;
    }
}

.footerTitle {
    justify-content: center;
}

.copyrights,
.contactInfo,
.credits {
    justify-content: end;
}

.credits {
    font-size: 12px;
}