#root {
  width: 100vw;
  height: 100vh;
}

body {
  overflow: hidden;
}

.error-msg {
  font-size: 14px;
  color: red;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1f194f; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f194f; 
}
